<!DOCTYPE html>
    <html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Site de Notícias</title>
    </head>

    <body>
        <a href="/">Home</a>
        |
        <a href="/noticias">Notícias</a>
        <h1>Todas as Notícias</h1>
        <ul>
            <li><a href="#">Servidor Node.JS com Express</a></li>
            <li><a href="#">NODEMON melhora a perfomance do desenvolverdor NODE.JS</a></li>
            <li><a href="#">EJS renderiza as páginas HTML no NODE.JS</a></li>
        </ul>
    </body>

    </html>