<!DOCTYPE html>
    <html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Site de Notícias</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <a href="/">Home</a>
        <a href="/noticias">Notícias</a>

        <h1>Site de Notícias</h1>
        <h2>Últimas Notícias</h2>

        <p>
            Fique por dentro das últimas notícias do mundo da tecnologia!
        </p>

        <script src="./js/script.js"></script>
    </body>

    </html>